@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --background: #f3f4f6;
  --foreground: #111827;
  --primary: #16a34a;
  --secondary: #22c55e;
  --tertiary: #a7f3d0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.animate-blink {
  animation: blink 1s infinite;
}

.ck-content {
  @apply prose prose-slate max-w-none;
  @apply marker:text-foreground;
}

.ck.ck-editor {
  @apply rounded-lg! border! border-gray-300!;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

.prose li,
.prose p,
.prose ol,
.prose ul {
  @apply marker:text-foreground !m-0;
}

.prose h1,
.prose h2 {
  @apply m-0 mt-4 mb-2 text-2xl;
}

.prose h3 {
  @apply mt-4 mb-2 text-lg text-gray-800;
}
